<html>
    <head>
        <meta charset="utf-8">
        <title>
            User Profile
        </title>
    </head>
    <body>
        <div class="content">
            <h3>User Profile | TO DO LIST</h3>
            <div>
                <h4>Name: {{ data.first_name }} {{ data.last_name }}</h4>
                <h4>Contact: {{ data.contact  }}</h4>
                <h4>Username: {{ data.username }}</h4>
            </div>
            <form action="{% url 'users.profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                    <label for="">Upload Profile Picture</label>
                    <input type="submit" value="UPLOAD">
            </form>
        </div>

        <!-- ajax cdn -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        
        <!-- jquery cdn -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        <script>
            $(document).ready(function(){
                var token = '{% csrf_token %}';

                // ajax syntax
                $.ajax({
                    type: 'GET',
                    headers: {"X-CSRFToken": token},
                    url: '{% url "up.ajax" %}',
                    contentType: 'Application/json',
                    data: {'csrfmiddlewaretoken': token},
                    success: function(data){
                        console.log(data);
                    }
                });
            });
        </script>
    </body>
</html>